@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

a {
    color: black;
    text-decoration: none
}

nav img{
    background: url('logo.jpg');
    height: 75px;
    width: 145px; 
    margin-top: 5px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid #008080;
}

nav h1{
    color: #008080;
    font-family: 'Condensed'sans-serif;
    font-size: 30px;
}

nav .onglets{
    margin-top: 3px;
    margin-left: 300px;
}

nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('image%20arriere%20plant.jpg');
    background-size: cover;
    color: #fff;
    padding: 150px;
}

header h1{
    font-family: 'Condensed'sans-serif;
    font-size: 80px; 
}

header h4{
    margin-top: -20px;
    font-size: 20px; 
    text-align: center;
    border-bottom: 1px solid #fff;
}

header button  {
    text-decoration: none; 
    padding: 10px 20px;
    background-color: #fff;
    color: #0006;
    font-size: 20px;
    font-family: 'Condensed'sans-serif;
    cursor: pointer;
    color: #008080
}

}

.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .productions .divers{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.main .productions .divers .left{
    flex: 0 0 30%;
    padding: 20px;
    background-color: black;
    color: #fff; 
}

.main .productions .divers.right{
    flex: 0 0 70%; 
}

.main .productions .divers .right img{
    height: 550px;
    width: 465px; 
    margin-top: 5px;
}

footer{
    margin-top: 40px;
    border-top: 10px solid #008080;
    background-color: #000;
    color: #fff;
    padding: 30px 100px;
}

footer h1{
    font-family: 'Condensed', sans-serif;
    border-bottom: 1px solid #fff;
    width: 14%;
    padding-bottom: 5px;
}

footer .services{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}

footer .services .service{
    margin-right: 30px;
    padding: 10px;
}

footer .services .service p {
    max-width: 300px;
}

footer #photo{
    color: rgb(181, 181, 181);
}

@media screen and (max-width:680px){
    nav .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    
    .main .card{
        margin: 10px;
    }
    
    .main .productions .divers .right img{
        height: 500px;
        width: 100%;
        margin-top: 0px;
    }
    
    .main .productions .divers{
        display: block;4
    }
    
    footer{
        padding: 30px;
    }
}
4
